[submodule "rlottie"]
	path = rlottie
	url = https://github.com/Samsung/rlottie.git
	ignore = all
[submodule "yaqtlib"]
	path = yaqtlib
	url = https://github.com/yast-client/yaqtlib
[submodule "abseil-cpp"]
	path = abseil-cpp
	url = https://github.com/abseil/abseil-cpp/
[submodule "QtAVPlayer"]
	path = QtAVPlayer
	url = https://github.com/valbok/QtAVPlayer
