[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-ferniegram
Exec=harbour-ferniegram
Name=Ferniegram

X-DBusActivatable=true
MimeType=x-url-handler/t.me;x-scheme-handler/tg
X-Maemo-Service=io.ferniegram.ferniegram
X-Maemo-Object-Path=/io/ferniegram/ferniegram
X-Maemo-Method=io.libfernie.default.openUrl

[X-Sailjail]
OrganizationName=io.ferniegram
ApplicationName=ferniegram
Permissions=Audio;Contacts;Internet;Location;MediaIndexing;Microphone;RemovableMedia;UserDirs
ExecDBus=harbour-ferniegram -prestart
